@font-face{
	font-family: "TrumpGoth";
	src: url(fonts/masion/TrumpGothicEast_bold.ttf) format("truetype");
}
@font-face{
	font-family: "Star";
	src: url(fonts/star.ttf) format("truetype");
}

.dropdown-menu > li > a {
  color: #FFBF00;
}
.image-container{
  position: relative;
  border: solid 2px #f5f5f5;
  padding: 10px;
  padding-bottom: 70%;
  overflow: hidden;
}

.image-container:after {
	content: 'No Image';
	position: absolute;
  right: 0;
  left: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	width: 50%;
	height: 10%;
	margin: auto;
	z-index: 0;
}

.image-container img{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
	z-index: 1;
}
.image-container-post{
  position: relative;
  border: solid 1px #f5f5f5;
  padding: 10px;
  padding-bottom: 40%;
  overflow: hidden;
}

.image-container-post:after {
	content: 'No Image';
	position: absolute;
  right: 0;
  left: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	width: 50%;
	height: 10%;
	margin: auto;
	z-index: 0;
}

.image-container-post img{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
	z-index: 1;
}
.image-gallery .isotope-item{
  margin: 0 3px 0 3px;
}

.content-wrapper {
  padding-top: 30px;
}

.web-title small {
  text-transform: none;
  display: block;
  margin-top: 15px;
  font-size: 14px;
}

.multilineEllipseText{
  max-height: 98px;
}

.post{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  max-height: 250px;
}

.thumb-info .thumb-info-inner , .heading-primary{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.article-row {
  margin-bottom: 10px;
}

.article-row .title {
  margin-bottom: 8px;
}

.article-row .detail {
  margin-bottom: 10px;
}

.article-row span {
  font-size: 13px;
  margin-right: 10px;
  display: inline-block;
}

/*ellipsis*/
.text-preview {
  overflow: hidden;
  position: relative;
  line-height: 1.3em;
  max-height: 3.9em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}

.text-preview:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.text-preview:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.text-preview-home {
	margin-top: 8px;
  overflow: hidden;
  position: relative;
  line-height: 1.3em;
  max-height: 13em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}

.text-preview-home:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.text-preview-home:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

img {
  max-width: 100%;
}

.article-view h1 + img {
  max-width: 300px;
  margin-right: 15px;
}

.article-view .breadcrumb span {
  margin-right: 10px;
  display: inline-block;
}

/*modal*/
.modal-content h2{
  border-bottom: 1px solid #ddd;
  margin: .5em;
  padding-bottom: 5px;
}

.modal-content img{
  margin: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.14),
  0 1px 1px 0 rgba(0,0,0,0.12),
  0 3px 1px -2px rgba(0,0,0,0.2);
}

.modal-content .modal-footer {
  text-align: left;
}

.list-group-item.header {
  background-color: #f5f5f5;
  color: #494949;
}

.red{
  color: #d44950;
}

.contact{
  color: #FACC2E;
}

/*about us*/
.about img{
  margin: 1em;
  display: block;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

anggota p, .about h2{
  text-align: center;
  line-height:50px;
  margin:0;
}

anggota h4{
  text-align: center;
  margin: 0;
	margin-top: 50px;
}

.about__title{
  font-family: "TrumpGoth",Arial,sans-serif;
  font-weight: 500;
  font-size: 2em;
  font-variant: small-caps;
  z-index: 100;
}

.about_content{
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1.5em;
}

.organisasi, .about__title, .contact_panel{
  padding: 1em;
}
