html, body {
	height: 100%;
}

.panel-body .fa-edit{
	padding-right: 5px;
}
.btn-pos{
	background-color:  #FACC2E;
}
p {
    margin: 0;
}
.panel .panel-footer .fa-edit{
	padding-right: 20px;
	padding-left: 20px;
}
.image-container{
	position: relative;
	border: solid 1px #FACC2E;
	padding: 10px;
	padding-bottom: 80%;
	overflow: hidden;
	margin-top: 20px;
}
.image-container img{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 100%;
}
.gallery-name{
	font-size: 1.5em;
	padding-bottom: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.panel.article .panel-footer span {
	display: inline-block;
	margin-right: 10px;
}

#wrapper {
	height: 100%;
}

#page-wrapper {
	min-height: 100%;
}

.display-table {
    display: table;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.display-table-row {
    display: table-row;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
}

.valign-top {
    vertical-align: top;
}
